*{
    font-family: Futura,Trebuchet MS,Arial;
}
body{
            display: flex;
            justify-content: center;
            align-items: center;
            
            margin: 0;
            flex-direction: column;
          
  }
  body > div{
    text-align: center;
  }
/* body{
    margin: 0;
    display: grid;
    grid-template-areas:
    "div div"  
    "aside cont"
    "aside  cont"
    "foot foot"
    ;
    gap: 20%;
    
}  */
 
/* body > .container-menu{
    grid-area: aside;
}
body > .container{
    grid-area: cont;
}
body > .footer{
    grid-area: foot;
}
.text-container {
    grid-area: div;
} */
  



.container-menu {
    
     display: flex; 
    flex-direction: 
    column;
    align-items: center; 
    background-color: rgb(82, 101, 117);
    
    padding: 5px;
    height: 100%; 
} 
      
      
.container-menu aside { 
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
       
        height: 100%; /* Adjust the height of the aside to fill the container */ }
         .container-menu aside div { 
            background-color: #fff; 
            padding: 20px; 
            text-align: left; 
            border: 1px solid #ddd;
             margin-bottom: 10px; 
}
.container-menu{
    width: 30%;
    overflow: auto;
}
 .footer{
   
 
  width: 100%;
  background-color: red;
  color: white;
  height: 100px;
  text-align: center;
 }
 .container{
    width: auto;
    /* background-color: aqua; */
    
 }
 img {
    width: 80px;
  height: 100px;
  border-radius: 50%;
  }

  .flex-js{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30vh;
    /* background-color: aqua; */
    align-items: center;
   
    
  }
  .flex-js div{
    margin-top: 0;
  }
  
  .text-container{
    width: 100%;
  }
  #section1{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    /* transform: translateX(-100vh); */
  }
  @-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  #section1:hover{
    
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
-webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
-webkit-animation-duration: 1s;
    animation-duration: 1s;
  }


  .form-div-content{
   
    width: 300px;
    border-style: solid;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 8px;
   
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
  }
  .form-div-content:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  }

  .form-div-content-second{
    width: auto;
    /* border-style: solid; */
    display: flex;
    flex-direction: row;
    height: 350px;
  }
  .front, .back {
   
    width: 100%; /* Ajustez la largeur pour qu'elle corresponde à celle de la div parent */
    height: 100%; /* Ajustez la hauteur pour qu'elle corresponde à celle de la div parent */
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.back {
    margin-left: -50px;
    margin-top: 50px;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    transform: rotateY(180deg);
}
.back p:first-child {
    position: absolute;
    top: 0;
    text-align: center;
    
}
.front {
    
    margin-top: 50px;
  margin-left: 50px;
    background-color: aliceblue;
    
    border-radius: 10px;
    transform: rotateY(0deg);
   
}
.card {
    
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    display: flex;
   margin: 20px;
}

.card:hover {
  
    transform: rotateY(180deg);
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .wave {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    vertical-align: middle;
    overflow: hidden;
    border-style: solid;
  }
  .arrow {
    background-color: black;
    height: 0.1em;
    width: 1.5em;
    margin-right: 1em;
    position: absolute;
    top: 80%;
    transition: all 0.2s;
    transform: rotate(90deg);
    cursor: pointer; /* Ajoutez ceci pour indiquer que la flèche est cliquable */
}

.arrow::before, .arrow::after {
    position: absolute;
    content: "";
    background-color: black;
    height: 0.1em;
    width: 0.6em;
    right: 0;
    top: 0;
}

.arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}
