*{
    font-family: Futura,Trebuchet MS,Arial;
}
body{
    display: flex;
            justify-content: center;
            align-items: center;
            
            margin: 0;
            flex-direction: column;
          
  }
/* body{
    margin: 0;
    display: grid;
    grid-template-areas:
    "div div"  
    "aside cont"
    "aside  cont"
    "foot foot"
    ;
    gap: 20%;
    
}  */
 
/* body > .container-menu{
    grid-area: aside;
}
body > .container{
    grid-area: cont;
}
body > .footer{
    grid-area: foot;
}
.text-container {
    grid-area: div;
} */
  



.container-menu {
     display: flex; 
    flex-direction: 
    column;
    align-items: center; 
    background-color: aliceblue;
    
    padding: 5px;
   
   
    height: 100%; 
} 
      
      
.container-menu aside { 
        display: flex; 
        flex-direction: column; 
        justify-content: space-around; 
       
        height: 100%; /* Adjust the height of the aside to fill the container */ } .container-menu aside div { background-color: #fff; padding: 20px; text-align: left; border: 1px solid #ddd; margin-bottom: 10px; 
}
.container-menu{
    width: 50%;
    overflow: auto;
}
 .footer{
   
 
  width: 100%;
  background-color: red;
  color: white;
  height: 100px;
  text-align: center;
 }
 .container{
    width: auto;
    /* background-color: aqua; */
    
 }
 img {
    width: 80px;
  height: 100px;
  border-radius: 50%;
  }

  .flex-js{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aqua;
    height: 100vh;
    text-align: center;
    
  }
  .text-container{
    width: 100%;
  }
  #section1{
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* transform: translateX(-100vh); */
  }
  @-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
  #section1:hover{
    
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
-webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
-webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
-webkit-animation-duration: 2s;
    animation-duration: 2s;
  }